{% extends 'airmed/base.html' %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Airmed Team</a>
            </div>
            <h2><a class="article-title" >Exercises</a></h2>
            <p class="article-content">Select which exercise you would like to perform</p>
          </div>
    </article>

 
    <a class="btn btn-primary btn-block" href="{% url 'bent_over_row' %}" role="button"><span style="font-size:40px;">Bent Over Row</span></a>
    <a class="btn btn-primary btn-block" href="{% url 'deadlift' %}" role="button"><span style="font-size:40px;">Deadlift</span></a>
    <a class="btn btn-primary btn-block" href="{% url 'pullup' %}" role="button"><span style="font-size:40px;">Pullups</span></a>
    

    <a class="btn btn-primary btn-lg" href="{% url 'fitness-page' %}" role="button">Return</a>
{% endblock content %}