{% extends 'airmed/base.html' %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Airmed Team</a>
            </div>
            <h2><a class="article-title" >Exercises</a></h2>
            <p class="article-content">Select which exercise you would like to perform</p>
          </div>
    </article>
    <h1><p class="text-center font-weight-bold">Recommended Leg Exercises</p></h1>
    <a class="btn btn-primary btn-block" href="{% url 'back_squat' %}" role="button"><span style="font-size:40px;">Back Squats</span></a>
    <a class="btn btn-primary btn-block" href="{% url 'lunge' %}" role="button"><span style="font-size:40px;">Lunge</span></a>
    <a class="btn btn-primary btn-block" href="{% url 'hip_thrust' %}" role="button"><span style="font-size:40px;">Hip Thrusts</span></a>

    <a class="btn btn-primary btn-lg" href="{% url 'fitness-page' %}" role="button">Return</a>
{% endblock content %}